@import url('../src/css-reset.css');

:root {
    --linear: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --red: hsl(0, 100%, 65%);
    --white: hsl(0, 0%, 100%);
    --light-gray-violet: hsl(270, 3%, 87%);
    --dark-gray-violet: hsl(279, 6%, 55%);
    --dark-violet: hsl(278, 68%, 11%);
    --ff: 'Space Grotesk';
    --font-size: 1.125rem;
    --fw: 500;
}

body {
    font-size: var(--font-size);
    font-family: var(--ff);
    font-weight: var(--fw);
    padding-block: 2rem;
    padding-inline: 2rem;
}

main {

}

header {
    background-color: var(--linear);
    background-image: url('../public/images/bg-main-mobile.png');
}